pipeline/pl_web_copy1.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"ls_web_007":{"type":"string"},"ls_web_008":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/pl_web_copy1')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"act_web1","type":"WebActivity","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"method":"GET","headers":{},"url":"https://dummy.restapiexample.com/api/v1/employees"}},{"name":"Copy data1","type":"Copy","dependsOn":[{"activity":"act_web1","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","additionalColumns":[{"name":"mycol22","value":{"value":"@{activity('act_web1').output.data}","type":"Expression"}}],"storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".txt"}},"enableStaging":false,"translator":{"type":"TabularTranslator","mappings":[{"source":{"name":"mycol22","type":"String"},"sink":{"path":"$['email']"}}],"typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"ds_web007","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"jsd_web_son2","type":"DatasetReference","parameters":{}}]}],"policy":{"elapsedTimeMetric":{}},"variables":{"myvariable":{"type":"String"}},"annotations":[],"lastPublishTime":"2024-07-23T05:14:23Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/ds_web007')]","[concat(variables('factoryId'), '/datasets/jsd_web_son2')]"]},{"name":"[concat(parameters('factoryName'), '/ds_web007')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('ls_web_007')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":"abc.txt","fileSystem":"input"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":false,"quoteChar":"\""},"schema":[{"type":"String"}]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/jsd_web_son2')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('ls_web_008')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":"webout.json","fileSystem":"learbypractice"},"columnDelimiter":",","escapeChar":"","firstRowAsHeader":true,"quoteChar":""},"schema":[]},"dependsOn":[]}]}